.container-1 {
    font-family: sans-serif;
    position: relative;
    top: 150px;
    bottom: 50px;
    left: 150px;
    right:150px;
    width: 50px;
    text-align: center;
  }
  
  .button{
    text-align: right;
  }