.App {
    margin:0;
    padding:0;
    overflow-x:hidden;
    position: relative;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 1;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.5329482134650736) 100%);
  }
  
